<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyh.video.sample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name="com.hyh.video.base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VideoActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".TestOrientationActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->

        </activity>

        <activity
            android:name=".TextureActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".SurfaceActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".VideoListActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity
            android:name=".MultiListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".OrientationActivity"
            android:configChanges="screenSize|orientation">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

    </application>

</manifest>

